@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: serif;
	background: DarkRed;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 0;
	overflow: hidden;
}

.fullScreenOverlay{
    background: -webkit-linear-gradient(DarkRed, #333); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(DarkRed, #333); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(DarkRed, #333); /* For Firefox 3.6 to 15 */
    background: linear-gradient(DarkRed, #333); /* Standard syntax (must be last) */
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    margin-top: 0px;
    top: 0px;
}

.h {
    position: absolute;
    z-index: 0;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: DarkRed;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

a{
	color: #aaa;
	text-decoration: none;
  cursor: pointer;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.main-title{
	position: absolute;
	z-index: -1;
	padding: 20px 40px;
}
.main-title h1{
	font-family: 'Berkshire Swash', cursive;
	color: #ccc;
	margin-bottom: 80px;
}
.main-title p{
	font-size: 20px;
	color: #aaa;
}

.panel-default {
	background: rgba(10, 0, 0, 0.9);
	border-color: rgba(255, 255, 255, 0.5);
}

.container {
  position: relative;
  margin: 0 auto;
  -webkit-perspective: 2200px;
  -moz-perspective: 2200px;
  perspective: 2200px;
}  
.page {
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page > div {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.page .back { 
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
}
.page .outer{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 999;
}
.page .content{
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.overlay, .flipoverlay{
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.flipoverlay{
  background-color: rgba(0, 0, 0, 0.2);
}
.page .content .inner{
  padding: 50px 15px 10px;
  height: 100%;
}
.page h1{
  text-align: center;
}
.page.cover .front .content,
.page.cover-back .back .content{
  width: 100% !important;
}
.page.cover .front .content:after,
.page.cover-back .back .content:after{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 100%;
  content: '';
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.01) 16%,rgba(0,0,0,0) 17%,rgba(0,0,0,0) 44%,rgba(0,0,0,0.08) 60%,rgba(0,0,0,0.09) 61%,rgba(0,0,0,0.35) 100%);
  opacity: 0.2;
}
.page.cover-back .back .content:after{
  left: auto;
  right: 0px;
  background:-webkit-linear-gradient(left, rgba(0,0,0,0.53) 0%,rgba(0,0,0,0.1) 10%,rgba(0,0,0,1) 100%);
}
.page.cover .front .content .inner{
  padding-top: 20px;
}
.page.cover .front .content{
  background: #ddd;
  background-size: cover;
}
.page.cover-back .back .content{
  background: #B0D5FF;
}
.page.cover h1{
  color: rgba(255,255,255,0.9);
  text-align: right;
  font-weight: 300;
  font-size: 34px;
  text-transform: uppercase;
  margin: 0 0 0 60%;
  line-height: 34px;
  padding-bottom: 10px;
  cursor: default;
}
.page.cover h1 span{
  display: block;
  font-weight: 300;
  font-size: 15px;
}
.page.cover .f-cover-story, .page.cover-back .f-cover-story{
  font-family: 'Berkshire Swash', cursive;
  color: rgba(255,255,255,0.9);
  font-weight: 600;
  font-size: 42px;
  line-height: 46px;
  position: absolute;
  top: 55%;
  left: 40px;
  margin: 0;
  cursor: default;
}
.page.cover .f-cover-story span, .page.cover-back .f-cover-story span{
  display: block;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #F86738;
  font-family: serif;
}
a.f-ref{
  line-height: 20px;
  font-size: 16px;
  position: absolute;
  top: 252px;
  font-weight: 300;
  text-indent: 1px;
}
.page a:hover{
  color: #aaa;
}
.page.cover-back .f-cover-story .creditsspan{
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #aaa;
  font-family: serif; 
}
.creditos {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #F86738;
  font-family: serif;   
}
.creditos:hover {
  text-decoration: none;
}
.f-cover-flip{
  background: DarkRed;
  color: #bbb;
  position: absolute;
  right: 0px;
  padding: 5px 30px 5px 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  top: 50%;
  margin-top: -25px;
  cursor: default;
}
.f-title{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  text-align:center;
  width: 100%;
}
.f-title h2{
  line-height: 50px;
  margin: 0;
  font-weight: 300;
  font-size: 28px;
  color: #aaa;
  float: left;
  width: 33%;
}
.f-title a{
  width: 33%;
  float: left;
  text-align: right;
  overflow: hidden;
  height: 50px;
  font-size: 12px;
  line-height: 50px;
  padding: 0px 15px;
  color: #777;
  font-style: italic;
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}
.f-title a:first-child{
  text-align: left;
}
.f-title a:hover{
  color: #000;
}
@media screen and (max-width: 690px){
  .cover-elements{
    display: none;
  }
  
}

#titles {
    overflow: hidden;
    background-color: DarkRed;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    position: absolute;
    z-index: 99999;
    left: 0;
    top: 0;
}
#titles div#the-end {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    text-align: center;
}
#credits {
    color: #ffffff;
    position: absolute;
}
#credits h1 {
    color: #888888;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 10px;
}
#credits dl {
    margin: 0px auto;
}
#credits dt {
    float: left;
    width: 260px;
    margin: 0;
    padding: 13px 0 0 0;
    text-align: right;
    font-family: "Arial Narrow", sans-serif;
    font-size: 20px;
    clear:left;
}
#credits dd {
    width: 100%;
    margin: 0 0 0 280px;
    padding: 13px 0 0 0;
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    font-size: 20px;    
}
#credits p {
    width: 508px;
    margin: 10px 0px 10px 60px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
#credits .fineprint {
    color: #888888;
    width: 100%;
    margin: 80px 0 0 50px;
    text-align: center;
    font-size: 10px;
    font-family: sans-serif;
}
.clearfix: after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* close commented backslash hack */

.padding-left-100 { padding-left:100px;}
.padding-left-80 { padding-left:80px;}
.text-26 { font-size: 26px; }
.text-32 { font-size: 32px; }
.text-18 { font-size: 18px; }
.padding-left-80 { padding-left:80px;}
.margin-bottom-20 { margin-bottom:20px;}
.margin-bottom-40 { margin-bottom:40px;}
.text-LightGrey { color: LightGrey; }
.text-SlateGray { color: SlateGray; }
